@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    background-color: #f5f5f5;
}

.lato {
    font-family: "Lato", sans-serif;
}

.typing-dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
    opacity: 0;
    animation: dot-blink 1.4s infinite both;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dot-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}